//File: Footer.pug
//Authors' Name: Dev Shah
//Purpose: View of Footer includes Link

#content_footer
#footer
  p
    a(href='/') Home
    |  
    a(href='/about') About Me
    |  
    a(href='/project') Projects
    |  
    a(href='/services') Services
    |  
    a(href='/contact') Contact Us
