#header
  #logo
    #logo_text
      // class="logo_colour", allows you to change the colour of the text
      h1
        a(href='index.html')
          | Dev 
          span.logo_colour  Shah 
      h2  Coder, Developer, Designer, Learner
  #menubar
    ul#menu
      li.selected
        a(href='index.html') Home
      li.selected
        a(href='about.html')  About Me 
      li.selected
        a(href='project.html') Projects
      li.selected
        a(href='service.html') Services
      li.selected
        a(href='contact.html') Contact Me
