extends layout

block content
  #content_header
  #site_content
  #content
    // insert the page content here
    h1  My Background 
    p
      | I am originally from India. I love travelling, that is why I decide to come to canada for my higher studies. I had complete my high school in year 2017 and pursuing Computer Programming course at Georgian College, Barrie campus. I am fast learner and love coding. I also like to play cricket and read books.
    p
      input(name='image', type='image', style='border: 0; margin: 0 0 -12px 2px;', src='images/travel.jpg', width='615', height='400', alt='Search', title='Search')
    h2  Technical Skills 
    span.left
      img(src='images/tech.jpg', height='100', width='100', alt='example graphic')
    p
      | Proficient knowledge of Java, HTML, CSS, PHP, C, C++, JavaScript, .NET using C# and ASP.NET, Java and Relational Databases.Skilled understanding of tools such as Word, PowerPoint and Excel.Educated experience with software tools such as turbo C++, BlueJ, Eclipse, Notepad++, Atom, Visual Studio, NetBeans IDE, Vista, Brackets, MySQL workbench and Microsoft SQL Server.
    br
    h2  Soft Skills 
    span.left
      img(src='images/soft.jpg', height='100', width='100', alt='example graphic')
    p
      | Multilingual (English, Hindi and Gujarati) with great communication skills, able to effectively communicate within a team. Strong problem-solving skills, able to efficiently adapt to different unexpected situations. Excellent time management skills, punctual and reliable, able to meet multiple deadlines on time with great results. Team orientated individual, showing support and initiative for the accomplishment of goals
    br


