extends layout

block content
  //File: Index.pug
  //Authors' Name: Dev Shah
  //Purpose: View of home page
  #content_header
  #site_content
  #content
    // insert the page content here
    h1  Hi I am Dev Shah
  p
  .myimg
    input(name='eniac', type='image', style='border: 0; margin: 0 0 -12px 2px;', src='images/dev.jpg', width='615', height='400', alt='Search', title='Search')
  p
  | I like to introduce myself as self-motivated Computer Programmer student who always look to do some creative work.I am highly capable in technical software development, including proficient knowledge of Java, C++, .Net and web programming. I am also skilled at leading projects and capable of working in a fast-paced environment.

