extends layout

block content
  #content_header
  #site_content
  #content
    // insert the page content here
    h1  My Games
    p
      input(name='rock', type='image', style='border: 0; margin: 0 0 -12px 2px;', src='images/rock.PNG', width='615', height='400', alt='Search', title='Search')
    p
      | Using HTML, CSS and JavaScript built different games such as rock, paper and scissors, Simon Says, Criss Cross and finding odd out.
    h1  Math Game
    p
      input(name='math', type='image', style='border: 0; margin: 0 0 -12px 2px;', src='images/math.PNG', width='615', height='400', alt='Search', title='Search')
    p
      | Developed Math game for kids in which random math equation related to addition, subtraction, multiplication, division comes for player. Score increase with correct answer and decrease with incorrect answer.


