extends layout

block content
  #content_header
  #site_content
  #content
    // insert the page content here
    h1  Website Designing
    p
      input(name='rock', type='image', style='border: 0; margin: 0 0 -12px 2px;', src='images/web.png', width='615', height='200', alt='Search', title='Search')
    p
      | I likes to deals with the process of developing a website. I use images, text, html5, Responsive web design, CSS3, information architecture, colors, fonts and other interactive elements to produce a webpage. I prefer to use markup language mostly HTML for creating structure and CSS for presentation.
    h1  Creative Work
    p
      input(name='math', type='image', style='border: 0; margin: 0 0 -12px 2px;', src='images/create.jpg', width='615', height='200', alt='Search', title='Search')
    p
      | I considered as a creative coder. I can create animate or create visual pieces, interactive experiences, music, text or any other artforms with code.


